**

!.env
!.flaskenv
!.gitignore
!app.db
!babel.cfg
!config.py
!microblog.py
!README.md
!requirements.txt
!requirements2.txt
!tests.py

!app/
!app/*
!app/auth/
!app/auth/*
!app/errors/
!app/errors/*
!app/main/
!app/main/*
!app/templates/
!app/templates/**
!app/translations/
!app/translations/**
!migrations/
!migrations/*
!migrations/versions/
!migrations/vserions/*
