{% extends "base.html" %}

{# When the action is set to an empty string the form is submitted to the URL that is currently in the address bar #}
{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {# Hidden tag gives your application superpowers of using token to prevent CSRF attacks (see config.py) #}
        {{ form.hidden_tag() }}
        <p>
            {# taking first argument from form username which is label #}
            {{ form.username.label }}<br>
            {# you can set html arguments (e.g. size of field or even styles, IDs) by putting it into form function #}
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}