{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Register</h1>
    <div class="row">
        <div class="col-md-4">
            {# The import statement near the top works similarly to a Python import on the template side. #}
            {# That adds a wtf.quick_form() macro that in a single line of code renders the complete form, #}
            {# including support for display validation errors, etc for the Bootstrap framework. #}

            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
